.breadcrmb{
	background:red;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "";
    }

@media screen and (max-width: 1194px){
    .breadcrumb{
    	padding-left:2%;
    }
}