.right{
	text-align:right;
}

a{
	text-decoration: none;
	color:initial;
}

.ban{
	text-align:left;
	margin-top:120px;
}

.title{
	font-weight: 600;
	font-size:22px;
	margin-bottom:14px;
	margin-left: 112px;
	display:inline-block;
	vertical-align:top;
  word-break: break-all;
}

.create{
	text-align: right;
	margin-left: 40%;
	margin-bottom:7px;
	width: 60%;
}

.main{
  list-style-type : none;
  width: 54%;
  margin-top: 23px;
  margin-left: 9%;
  border-bottom:1px solid #84b2e0;
}

.answer{
	margin-left: 0%;
	margin-top: -23px;
	font-size: 85px;
	margin-bottom:-90px;
}

.q_title{
	margin-left:1%;
}


.public{
	width:100%;
  position:absolute;
  z-index: -20;
  float:right;
  top:234px;
}



@media screen and (max-width: 1194px){
    .ban{
    	text-align:center;
    	margin-top:700px;
    }

    

    .public{
    	top:190px;
    }

    .main {
    list-style-type: none;
    width: 70%;
    margin-top: 23px;
    margin-left: 0%;
    border-bottom: 1px solid #84b2e0;
}
}

@media screen and (max-width: 780px){

   .main{
    width:90%;
   }

}