 /* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

 ul li{    
  text-align: left;
 }

 .content{
 	width: 54%;
    margin-top: 155px;
    margin-left: 9%;
    margin-bottom:203px;
 }

 h1{
 	border-bottom: 1px solid #84b2e0;
  font-size:24px;
 }

 .answer{
  margin-top:148px;
  margin-bottom:30px;
 }

 .main{
  margin-bottom:87px;
 }

 .rep{
  width:100%;
  height:200px;
    resize: none;
 }


 .button{
  all:initial;
    font-size: 14px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #7E7E7E;
    border: solid 2px #7E7E7E;
    border-radius: 3px;
    transition: .4s;
    width: 88px;
    text-align:center;
    margin: 10px 0px 0px 42%;
 }

 .button:hover {
    background: black;
    color: white;
    text-decoration: none;
}

.solve{
  all:initial;
    font-size: 14px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #7E7E7E;
    border: solid 2px #7E7E7E;
    border-radius: 3px;
    transition: .4s;
    width: 80px;
    text-align:center;
    margin: -5px 0px 33px 84%;
}

.solve:hover{
   background: black;
    color: white;
    text-decoration: none;
}

.place_footer{
  margin-top:-138px;
   height: 50px;
}


.public{
  width:100%;
  position:absolute;
  z-index: -20;
  float:right;
  top:234px;
}

.login_button{
  background: initial;
    color: initial;
    font-size: initial;
    font-size: 16px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #7E7E7E;
    border: solid 2px #7E7E7E;
    border-radius: 3px;
    transition: .4s;
    width: 68px;
    height: 25px;
    text-align:center;
    margin:14px 0px 0px 39%;
}

.login_button:hover{
 background: black;
    color: white;
    text-decoration: none;
}